/* about.css */
.about-us{
    background-color: #f0f0f0;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.about-content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.Photos {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Photos img {
    max-width: 300px;
    margin: 0 10px;
    border-radius: 5px;
}
.about-us .box23{
width: 17%; /* Adjust dimensions as needed */
height: 43%;
background-color: white; /* Background color */
clip-path: polygon(20% 0%, 90% 5.3%, 73% 100%, 6% 70%);
rotate: -7deg;
position: absolute;
left:78%;
z-index: 2;
bottom:42.7%;
}
.about-us .triangle56{
 width: 0%;
height: 0;
border-top: 170px solid transparent;
border-left: 290px solid orange; 
position: absolute;
bottom: 0%;
}