.advisorsParent{
  background-image: url("https://images.unsplash.com/photo-1506260408121-e353d10b87c7?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 57rem;
}

.advisors h1{
  text-align: center;
  color: white;
  font-size: 640%;
  margin-top: 18.4%;
  
}