/* Crop.css */

.crop {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .crop h1{
    color: #000;
  }

  .text p {
    font-size: 16px;
    color: black;
  }

  p{
    color: black;
  }
  
  .crop-card p {
    color: #000;
    font-size: small;
  }

  .crop-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .crop-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
  }
  
  .crop-card img {
    max-width: 100%;
    height: auto;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form button {
    background-color: #daa30d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
/* styles.css */
.cropList {
  list-style: none;
  padding: 0;
}

.cropList li {
  border: 1px solid #ddd;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #fff;
}

.cropList li span {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

/* Add more custom styles as needed */

