.liveStockBody .firstSection{
  background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: 100% 35rem;
}
.liveStockBody  h1{
  text-align: center;
  padding: 6%;
}

.liveStockBody .main{
  width:55%;
  margin-left: 21%;
}
.liveStockBody .Text{
  font-size: 110%;
}
.liveStockBody{
  background-color: rgb(224, 222, 222);
  margin:0;
} 
.liveStockBody button{
  background-color: green;
  z-index: 2;
}


.livestockList {
  list-style: none;
  margin-bottom: 14%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2%;
}

.livestock-item {
  border: 1px solid #ddd;
  margin-bottom: 8px;
  padding: 8%;
  background-color: rgb(214, 211, 211);
  box-shadow: 22px 17px 8px rgba(0, 0, 0, 0.4);
}
.livestock-item .five{
  width:100%;
}
.livestock-item span{
  text-align: center;
}

.livestock-item span {
  display: block;
  margin-bottom: 6px;
}
footer {
  background-color: #000; /* Set the background color of the footer to black */
  color: #fff; /* Set the text color of the footer to white */
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px; /* Add rounded corners to the bottom of the footer */
}
.selectedAnimal{
 display: flex;
 margin-top: 10%;
 margin-bottom: 10% ;
}
.selectedAnimal .first{
  width:80%
}
.selectedAnimal .selectedImage{
  width:100%;
}
.selectedAnimal .second{
  width:65%;
  margin-left:5%;
}
.selectedAnimal .second .one{
  font-size: 320%;
  color: green;
  line-height: 0;
}

.selectedAnimal .second .two{
  font-weight: 100;
font-size: 120%;
width: 65%;
}
.selectedAnimal .second .two i{
  color: green;
}
.selectedAnimal .second .four{
  font-size: 220%;
}
.selectedAnimal .second .four i{
  color: orange;
}

.formParent{
  background-color: white;
  border: 3px solid orange;
   box-shadow: 26px 17px 5px rgba(3, 0, 0, 0.4);
   margin-bottom: 2%;
   position: relative;
}
.formParent .box{
  width: 12%; /* Adjust dimensions as needed */
height: 68%;
background-color: orange; /* Background color */
clip-path: polygon(9% 0%, 93.2% 1%, 74% 97%, 4% 32%);
rotate: -3deg;
position: absolute;
left:90.1%;
bottom:32.5%;
z-index: 1;
}

.formParent .triangle2{
width: 0%;
height: 0%;
border-top: 160px solid transparent;
border-left: 184px solid green; 
position: absolute;
bottom: 0%;
margin-left: 1%;
}

.formParent .front{
  border: 3px solid yellow;
  padding: 5%;
  margin:10%;
  box-shadow: 16px 27px 5px rgba(7, 3, 0, 0.4);
}