

/* Styling for individual livestock image and description */
.livestock-images .Cow,
.livestock-images .Rabbit,
.livestock-images .Chicken {
  flex: 0.3;
  text-align: center;
}

/* Styling for livestock images */
.livestock-images img {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Styling for livestock descriptions */
.livestock-images p {
  font-size: 0.9em;
  color: #000;
}


.Cow p,
.Rabbit p,
.Chicken p {
  margin-top: 10px;
  font-style: italic;
  color: #000;
}


.livestockList {
  list-style: none;
  padding: 0;
}

.livestock-item {
  border: 1px solid #ddd;
  margin-bottom: 8px;
  padding: 8px;
  background-color: #fff;
}

.livestock-item span {
  display: block;
  margin-bottom: 6px;
}
footer {
  background-color: #000; /* Set the background color of the footer to black */
  color: #fff; /* Set the text color of the footer to white */
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px; /* Add rounded corners to the bottom of the footer */
}